.Login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
