.UserAccount {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.UserAccountData {
  display: flex;
  flex-direction: column;
  justify-content: "space-between";
  margin: 40px;
}

.UserAccountButton {
  margin: 5px;
}
